<%- include('./partials/head.ejs') %>

<% if(squads.squads) { %>
	<p class="message"><%= error.message %></p>
<% } %> 

<fieldset>
  <legend>Voeg een nieuwe member toe</legend>
  <form action="/new" method="post">
    <label for="squads">Select your squad</label>
    
		<select name="squad" id="squads">
			<% if(squads.squads) { %>
				<% squads.squads.forEach(squad => { %>
					<option value=<%= squad.id %>><%= squad.name %></option>
				<% }) %>
			<% } else { %> 
				<% squads.forEach(squad => { %>
					<option value=<%= squad.id %>><%= squad.name %></option>
				<% }) %>
			<% } %> 
    </select>
  
    <label for="slug">slug:</label>
		<input type="text" name="slug" id="slug" placeholder="..." value="<%= locals.slug ?? '' %>" />

		<label for="name">name:</label>
		<input type="text" name="name" id="name" placeholder="..." value="<%= locals.name ?? '' %>" />

		<label for="prefix">prefix:</label>
		<input type="text" name="prefix" id="prefix" placeholder="..." value="" />

		<label for="surname">surname:</label>
		<input type="text" name="surname" id="surname" placeholder="..." value="" />

		<label for="nickname">nickname:</label>
		<input type="text" name="nickname" id="nickname" placeholder="..." value="" />

		<label for="avatar">avatar:</label>
		<input type="text" name="avatar" id="avatar" placeholder="..." value="" />

		<label for="gitHubHandle">gitHubHandle:</label>
		<input type="text" name="gitHubHandle" id="gitHubHandle" placeholder="..." value="" />

		<label for="website">website:</label>
		<input type="text" name="website" id="website" placeholder="..." value="" />

		<label for="colour">colour:</label>
		<input type="color" name="colour" id="colour" placeholder="..." value="" />

		<label for="bio">bio:</label>
		<textarea name="bio" id="bio" cols="30" rows="10" placeholder="..."></textarea>
		<input type="submit" value="Opslaan" /> 
  </form>
</fieldset>

<%- include('./partials/foot.ejs') %>